div.menu
    <ul class="menu__buttons">
        <li><a href="./index.html">HOME</a></li>
        <li>COW HISTORY</li>
        <li>ABOUT</li>
        <li><a href="./credits.html">CREDITS</a></li>
    </ul>
        
    <h1 id="header">THE SPACE ASCII COW</h1>

    <p id="epicSwitch" class="epic">Make it EPIC!</p>

    img(class="animated-background" src="./imgs/Space GIF-source.gif" width=960 height=520)

    <audio id="myAudio">
        <source src="./sounds/spaceCow.wav" type="audio/wav">
    </audio>

    <div class="logo">
        <p class="logo__text">LOGO HERE</p>
    </div>