pre.cow.cow_hiden
    |__________________
    |   &lt; ПОЕХАЛИ! &#062;
    |------------------
    |\   ^__^
    | \  (oo)\_______
    |    (__)\       )\/\
    |        ||----w |
    |        ||     ||
