.cow_move{
    opacity: 50%;
    color:whitesmoke;
    font-weight: 900;
    position: fixed;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: flyingCow;
    animation-timing-function: linear;
    font-size: 5vh;
    top: calc(100vh / 4 - 2.5vh);
    z-index: 5;
}
@keyframes flyingCow {
    0%{
        color:rgb(77, 77, 77);
        transform: translate(100vw,0) rotate(0deg);;
     
    }
    20% {
      color: rgb(226, 133, 206);
      
    }
    40% {
        color: rgb(117, 193, 228);
       
      }

    60% {
        color: rgb(49, 153, 139);
    }
    80% {
        color: rgb(202, 134, 55);
    }
    100%{
        color:rgb(77, 77, 77);
        transform: translate(-100vw,0) rotate(360deg); 
    }
}
.cow_hiden{
    display: none;
}