doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flex
    body
        include  ./../../elements/spiner/spiner.pug
        div.background
            include ./../../elements/line/line.pug  
            include ./../../elements/header/header.pug
            include ./../../elements/flexSectionOne/flexSectionOne.pug
            include ./../../elements/flexSectionTwo/flexSectionTwo.pug
            include ./../../elements/flexSectionThree/flexSectionThree.pug
            include ./../../elements/flexSectionTwo/flexSectionTwo.pug
            include ./../../elements/flexSectionOne/flexSectionOne.pug
            include ./../../elements/flexSectionFour/flexSectionFour.pug
            include ./../../elements/footer/footer.pug