.gridSectionOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    width: 97vw;
    margin-top: 2vw;

    .gridSectionOne__elements{
        border: 2px rgb(255, 217, 3) solid;
        border-radius: 5px;
        height: 11vw;
        color:white;
        font-size: 5vw;
        text-align: center;

    }
}
