div.flexSubSection
    div.flexSubSection__img
    div.flexSubSection__text
        span red text 
        h4 TOP 10 LOREM IPSUMs OF ALL TIME 
        p
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        hr
        small size doesn`t matter
