div.fade
div.star-wars
    div.crawl
        div.credits
            <h1 class="credits__header">
                    CREDITS
            </h1>
            p.credits__text.
                В главной роли:COWSAY(в роли самой себя)<br>
                Продюссер:Валентин Кондратьев.<br>
                Исполнительный директор:Валентин Кондратьев.<br>
                Автор идеи:Валентин Кондратьев.<br>
                Режисер:Валентин Кондратьев.<br>
                Оператор:Валентин Кондратьев.<br>
                Сценарист:Валентин Кондратьев.<br>
                Визуальные эффекты:Валентин Кондратьев.<br>
                Звукорежисер:Валентин Кондратьев.<br>
                Просто хороший парень:Валентин Кондратьев :)<br>