.flexSectionThree{
    display: flex;
    width: 97vw;
    margin-top: 2vw;
    border: 2px rgb(3, 196, 255) solid;
    border-radius: 5px;
    height: 25vw;
    .flexSectionThree__imgElement{
        flex-basis: 72.5%;
        color:white;
        font-size: 5vw;
        align-self: center;
        text-align: center;
        font-size: 5vw;

    }
    .flexSectionThree__textElement{
        flex-basis: 27.5%;
        height: 100%;
        color:white;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.39);
        padding: 0 4vw;

        h2{
            font-size: 1.5vw; 
        }
        p{
            font-size: 1vw; 
        }
        div{
            span{
                font-size: 1vw; 
            }
           
            max-width: fit-content;
            padding:0 0.5vw;
            background-color: rgb(32, 190, 111);
            font-size: larger;
            border-radius: 5px;
        }
    }
}
