.background{
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("./imgs/starfield.jpg");
    background-repeat:round;
    background-position: center;
    overflow-x: hidden;
    position: relative;
    margin-top: 0;
    z-index: -2;
}
body{
    font-family:monospace;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
.background_borders::after,
.background_borders::before {
    content:"";
    position: fixed;
    width: 100vw;
    height: calc(100% / 4);
    z-index: 2;
    animation-fill-mode:forwards;
    animation-duration: 28s;
    animation-name: border;
    animation-timing-function: linear;
}
.background_borders::after{
    top: 0;
}
.background_borders::before{
    bottom: 0;
}

@keyframes border{
    0%{
        background-color: transparent;
    }
    10%{
        background-color: black;
    }
    90%{
        background-color: black; 
    }
    100%{
        background-color: transparent;
    }
}


.hide{
    animation-fill-mode:forwards;
    animation-duration: 28s;
    animation-name: hide-All;
    animation-timing-function: linear;
}
@keyframes hide-All{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.background_hide-for-load{
    display: none;
}